.seller_page_container {
  margin: 0 auto;
  /* border: 1px solid brown; */
  margin-top: 30px;
}

.seller_product_List_container {
  /* border: 5px solid green; */
  width: 900px;
  margin: 0 auto;
}

.seller_product_page_title {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.seller_product_page_sub_title {
  font-size: 11px;
}

.seller_product_page_titlebox_hr {
  margin-top: 15px;
  margin-bottom: 40px;
}

.product_seller_categorybar_container {
  /* margin-left: 240px; */
  margin-left: 290px;
  margin-top: 30px;
  width: 250px;
  transition: transform 0.9s ease;
  position: absolute;

}

.basket_preview_box_container {
  /* margin-left: 1350px; */
  margin-left: 1530px;
  margin-top: 30px;
  width: 300px;
  transition: transform 0.9s ease;
  position: absolute;
}

.seller_product_bookList {
  margin: 0 auto;
}