.ip_hi {
    height: 30px;
}

.order_addr_con_req {
    color: rgb(255, 88, 88);
}

/* ------------------------------------ */

.PaymentPageAddress {
    margin: auto;
    margin-bottom: 80px;
    width: 90%;
}

.order_addr_name_box {
    /* background-color: rgb(224, 255, 197); */
    width: 100%;
    height: 30px;
    text-align: left;
}

.order_addr_ip_box {
    margin-left: 10px;
}

.order_addr_con_box {
    width: 100%;
    margin-top: 5px;
}

.order_addr_con_tb {
    width: 100%;
    border-collapse: collapse;
}

.order_addr_cg_01 {
    width: 20%;
}

.order_addr_cg_02 {
    width: 80%;
}

.order_addr_con_tb th {
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(184, 184, 184);
}
.order_addr_con_tb td {
    text-align: left;
}

.order_addr_con_tb tr td {
    border: 1px solid rgb(184, 184, 184);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.order_addr_con_tb th:first-child,
.order_addr_con_tb td:first-child {
    border-left: 0;
    border-right: 0;
}

.order_addr_con_tb th:last-child,
.order_addr_con_tb td:last-child {
    border-left: 0;
    border-right: 0;
}

.order_addr_userName {
    width: 250px;
}

.order_addr_01 {
    width: 100px;
}

.order_addr_02,
.order_addr_03 {
    width: 600px;
}

.order_callNumber {
    width: 100px;
}

.requestList {
    width: 600px;
}