.header {
    background-color: white;
    width: 100%;
    min-width: 1240px;
    border-bottom: 1px solid rgb(194, 194, 194);
    position: sticky;
    top: 0;
    z-index: 3;
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 1240px;
    height: 158px;
    text-align: center;
    top: 0;
    z-index: 3;
    margin: 0 auto;
    
}


/* 로고 이미지 */
.logo {
    width: 176px;
    height: 133px;
    background: url(../../../../public/img/fox_logo.png);
    background-size: 100% 100%;
    margin: 0 auto;
    align-self: flex-start;
    text-align: left;
    text-indent: -9999em;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header_searchbox img {
    width: 20px;
    height: 20px;
}

.header_category ul,
.header_category li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.header_searchbox {
    position: relative;
}

.book_searchBox {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 24px;
    border: 3px solid rgb(119, 175, 107);
    border-radius: 50px;
    margin: calc((150px - 113px)/2) auto;
    padding: 10px 12px;
    font-size: 13px;
}

.book_searchBox:focus {
    outline: 0px solid rgb(119, 175, 107);

}

.search_img {
    position: absolute;
    top: 16px;
    right: 25px;
    margin: 0;
}

.user_support,
.user_support ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    padding: 0;
    list-style: none;

}

.user_support ul li {
    font-size: 12px;
    margin: 0px 5px;
}

.header_maincategory,
.header_maincategory_list {
    text-align: center;
}

.header_maincategory_list {
    width: 100%;
    margin-top: 18px;
    padding: 0px;
    position: relative;
}

.header_maincategory_menu_category {
    font-size: 20px;
    margin: 5px 20px;
}

.header_maincategory_menu_category div {
    width: 30%;
    font-size: 20px;
    position: absolute;
    padding-top: 15px;
}

.header_maincategory_menu_category div span {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.header_maincategory_menu_category div span a {
    display: block;
    width: 100%;
    height: 100%;
}

.header_maincategory_list li:hover {
    font-weight: bold;
}

.header_maincategory_list li span:hover {
    font-weight: bold;
}

.header_maincategory_list li:hover div {
    display: flex;
    flex-direction: column;
    font-weight: initial;
}

.header_maincategory_list li div span a:hover {
    color: rgb(119, 175, 107);
    padding: 10px;
}

.header_maincategory_menu_category div {
    background-color: honeydew;
    width: calc(100% / 4);
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgb(212, 221, 210);
    text-align: left;
}
