.order_sumName_box_R {
    /* background-color: rgb(252, 255, 194); */
    width: 100%;
    height: 30px;
    justify-content: space-between;
}

.order_sum {
    color: rgb(255, 88, 88);
}

.order_sum_con_R {
    /* background-color: rgb(255, 211, 211); */
    width: 40%;
    margin-top: 5px;
}

.order_sum_tb_R {
    width: 100%;
    border-collapse: collapse;
}

.order_sum_tb_R tr>td:nth-child(1) {
    text-align: left;
}

.order_sum_tb_R tr td {
    border: 1px solid rgb(184, 184, 184);
    border-left: 0;
    border-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.order_sum_tb_R tr td:first-child {
    font-weight: bold;
}

.order_sum_tb_R tr td:last-child {
    text-align: right;
}