/* .footer_menu {
    width: 100%;
    text-align: left;
}

.footer_menu ul {
    display: inline-block;
    font-size: 12px;
    padding: 0;
}

.footer_menu ul li {
    display: inline-block;
    margin-right: 10px;
} */